extends layout

block content
  div.container
    div.row
      div.span12
        h1 We Plan Conquer The World
        p Be the first to know about this plan. Join the our secret group now!

      div.span6.offset3.subscribe
        form.form-inline(method='GET')
          input.email.span4(type='text', name='email', placeholder='Type your agent ID here...')
          input.btn.btn-primary.btn-large(type='submit', value='Notify Me!')
          error
