doctype 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content