body {
  padding-bottom: 40px;
  overflow-y: scroll;
  color: #5a5a5a;
  background-image: url("/images/nakanoshima-night-view.jpg");
  background-size: cover;
  width: 100%;
}
.container {
  margin-top: 50px;
}
input.email {
  height: 34px;
  font-size: 1.6em;
  line-height: 36px;
  padding: 5px;
}
.subscribe {
  padding: 50px 0px;
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
}
.subscribe form {
  padding: 0 37px;
  margin: 0 0;
}
h1,
p {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.4), 0 0 30px rgba(0,0,0,0.075);
}
p {
  font-size: 1.3em;
}
